#homepage-header{
  .coming-soon{
    font-size: 35px;
  }
  h1{
    line-height: 65px;
    font-size: 65px;
    font-weight: 600 !important;
  }
  h2{
    line-height: 17px;
    font-size: 17px;
    font-weight: 200!important;
  }
  h1, h2{
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
