#homepage-description{
  h1{
    line-height: 45px;
    font-size: 45px;
    font-weight: 600 !important;
  }
  h2{
    line-height: 17px;
    font-size: 17px;
    font-weight: 200!important;
  }
  h1, h2{
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.social-buttons{
  a{
    color: white;
    padding: 10px;
    font-size: 25px;
  }
}
